@{
    ViewData["Title"] = "Movie Added";
}

<!DOCTYPE html>

<html>
<head>
    <title>Confirmation</title>
</head>
<body>
<div>
    <div class="text-center">
        <h1 class="display-4">Movie successfully added to the collection</h1>
        <a asp-action="Index">Back to home</a>
    </div>
</div>
</body>
</html>