
@{
    ViewData["Title"] = "Get To Know Joel";
}

<!DOCTYPE html>

<html>
<head>
    <title>Get To Know Joel</title>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Get To Know Joel</h1>
    <br>
    <p>Check out <a href="https://www.qwcomedy.com/">Quick Wits Comedy!</a></p>
    <br>
    <p>And <a href="https://baconsale.com/">Baconsale</a>, Joel's wonderful podcast</p>
    <br>
    <a href="https://baconsale.com/" target="_blank" rel="noopener noreferrer">
        <img src="~/BaconsaleKate.jpg" alt="Baconsale logo">
    </a>
    @* Uses an a tag to link the picture, ~/ references the root *@
</div>
</body>
</html>